<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs"); %>
</head>

<body>
    <h1 class="title">WELCOME</h1>
    <p class="subheader">GET <%= path %> </p>
</body>

</html>